p span.approved {
    font-weight:bold;
    color:green;
}

p span.denied {
    font-weight:bold;
    color:red;
}

p span.pending {
    color:#616161;
    font-weight:bold;
}


.btn-primary,.btn-primary:hover {
    background-color:#4889f1;
}

.btn {
    margin-right:10px;
}

.container, .page-top{
    padding-top:0;
}

.error {
    color:red;
}

#planCheckEditForm {
    margin:0!important;
}

.imageShadowBox {
    cursor:pointer;
    background-color: white;
    box-shadow: 0 0 2px rgba(0,0,0,0.4), 5px 5px 5px rgba(0,0,0,0.6);
}

.modal-dialog {
    width:900px;
}

#modal-message {
    clear:both;
    font-size:.9em;
    margin-bottom:20px;
}

.modal .table {
    display:table;
    height:100%;
}

.modal .table-cell {
    display: table-cell;
    vertical-align: middle;
}

/* eliminate blur when modal open */
.modal-open .page-wrapper {
    -webkit-filter: blur(0px)!important;
    -moz-filter: blur(0px)!important;
    -o-filter: blur(0px)!important;
    -ms-filter: blur(0px)!important;
     filter: blur(0px)!important;
}

.modal-title {
    font-weight:300;
}

.modal-body form {
    margin:20px;
}

.modal-footer {
    border:none!important;
}

.modal-open .modal {
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
    /*overflow:hidden;*/
}

.modal .table {
    margin-bottom:0;
}

select {
    height:30px;
    background-color:white;
    font-size:1.0em;
    -webkit-appearance: menulist-button; /* allows setting of height in Safari */
}


a.slider-link {
    color:white;
    margin-top:10px;
    font-size:14px;
    text-decoration: none;
    float:right;
    margin-right:40px;
    display:inline;
    cursor:pointer;
    text-decoration:none;
}

a.slider-link:hover {
    color:white;
}

.table:not(.table-bordered) {
    /* this is creating a white line below the modal */
    /*border-bottom: 2px solid #f3f3f3*/
    border-bottom: none;
}

th {
    cursor:pointer;
}

.votingShadowBox {
    font-family:arial;
    background-color: white;
    box-shadow: 0 0 2px rgba(0,0,0,0.4), 0 2px 4px rgba(0,0,0,0.6);
    padding: 10px;
    margin:0 2px 0 2px;
}

.votingShadowBox p {
    font-family:arial;
    font-size:16px;
}

p.voting {
    font-size:16px;
    margin:5px 0 0 0;
    white-space:pre-wrap;
}

.voting-title {
    font-size:18px;
    /*height:25px;*/
    /*line-height:25px;*/
    color:white;
    padding:5px;
    margin:20px 0px 0 0px;
}

textarea{
    background-color: #f2f2f2
}

#voteContent p,#commentContent p {
    margin-bottom:10px;
}




